<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mrudnya</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body>
    <div class="landing-container">
      <nav class="navbar-container">
        <div class="navbar">
          <div class="navbar-logo">
            <a href="/"><img class="logo" src="static/LOGO.png" alt="" /></a>
          </div>
          <div class="navbar-links" id="navbar-links">
            <div class="navbar-close-icon" id="close-icon">
              <i class="fas fa-times">X</i>
            </div>
            <a class="menu-item" id="home-link" href="/">Home</a>
            <a class="menu-item" id="predict-link" href="/predictcrop"
              >Predict crop</a
            >
            <a class="menu-item" id="about-link" href="/about">About Us</a>
            <a class="menu-item" id="contact-link" href="/contact"
              >Contact Us</a
            >
          </div>

          <div class="navbar-menu-icon" id="menu-icon">
            <i class="fas fa-bars">=</i>
          </div>
        </div>
      </nav>
      <div class="hero-section">
        <h5>WELCOME TO MRUDNYA</h5>
        <h1>
          Predict, Plan & <br />
          Grow with Confidence.
        </h1>
        <p>
          Mrudnya uses IoT-powered soil analysis to help farmers choose the
          right crops,<br> ensuring better yields and sustainable farming practices.
        </p>

        <a href="/predictcrop">
          <button type="button" class="button">
            <span class="button__text">Predict Crop</span>
            <span class="button__icon"
              ><img class="btn-img" src="static/plantIcon.svg" alt=""
            /></span>
          </button>
        </a>
      </div>
    </div>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script>
      const menuIcon = document.getElementById("menu-icon");
      const closeIcon = document.getElementById("close-icon");
      const navbarLinks = document.getElementById("navbar-links");

      let currentMenu = "home"; // default active menu

      const setActiveMenu = (menu) => {
        document.querySelectorAll(".menu-item").forEach((item) => {
          item.classList.remove("active");
        });
        document.getElementById(`${menu}-link`).classList.add("active");
        currentMenu = menu;
      };

      menuIcon.addEventListener("click", () => {
        navbarLinks.classList.add("active");
      });

      closeIcon.addEventListener("click", () => {
        navbarLinks.classList.remove("active");
      });

      document
        .getElementById("home-link")
        .addEventListener("click", () => setActiveMenu("home"));
      document
        .getElementById("about-link")
        .addEventListener("click", () => setActiveMenu("about"));
      document
        .getElementById("contact-link")
        .addEventListener("click", () => setActiveMenu("contact"));
      document
        .getElementById("blog-link")
        .addEventListener("click", () => setActiveMenu("blog"));
    </script>
  </body>
</html>
